# **Read from a file**

---

##1. **Open a file**

In Python, before reading the contents of a file, we must first open it, which is done by calling the built-in function **open()**.

*   open() has two parameters that is the path to the file and the mode;

*   open() has a single return, the file object.

Now, let's try to open data from the file text called "my_text.txt" using the open() function.

In [ ]:
file1 = open("my_text.txt")

By default, the files are open in read mode (cannot be modified). The code above is equivalent to

In [ ]:
file1 = open("my_text.txt", "r")

For creating a new text file, you use one of the following modes:


* **'x'**:                 open a file for exclusive creation. If the file exists, the open() function raises an error (*FileExistsError*). Otherwise, it’ll create the text file.

* **'w'**:           If the file doesn’t exist, the open() function creates a new file. Otherwise, it’ll overwrite the contents of the existing file.

In [ ]:
file1 = open("my_text.txt", "x")

# **2. Reading Files in Python**

After we open a file, we can now read its contents. 

In python there exists  predefine functions called inbuilt functions for reading files such as:


1.    **read()** : reads the entire file.


2.    **readline()** : Reads a line of the file and returns in form of a string. However, does not reads more than one line.


3.   **readlines()** : Reads all the lines and return them as each line a string element in a list.

## Read

In [ ]:
# open a file
file1 = open("my_text.txt", "r")

# read the file
read_content = file1.read()

#print the entire content of the file
print(read_content)

## Read Lines

You can return one line by using the **readline()** method:

In [ ]:
# open a file
file1 = open("my_text.txt", "r")

# read the first line of the file1 file
print(file1.readline())

By calling **readline()** two times, you can read the two first lines:

In [ ]:
# open a file
file1 = open("my_text.txt", "r")

# read the first line of the file1 file
print(file1.readline())
print(file1.readline())

If the file has multiple lines to easily read the content of the file, we can using the function **readlines()**.

In [ ]:
# open a file
file1 = open("my_text.txt", "r")

# read the file
file1 = file1.readlines()

# using the forloop to print to content of each line

for f in file1:
  print(f)

## **3. Close a file**

It is a good practice to always close the file after open it. In python we close the file using **close()** function.

In [ ]:
#open a file
file1 = open("my_text.txt", "r")

# read the content
print(file1.readline())

#close the file
file1.close()

In Python, we can  automatically close the file using the **with...open** syntax,

In [ ]:
with open("my_text.txt", "r") as file1:
    read_content = file1.read()
    print(read_content)

To avoid constantly worrying about closing the file, we should adopt the habit of using the syntax **with ...open**.

## 4. **Exercices**

1. Write a Python program to read an entire text file.

In [ ]:
#Code here


2. Write a Python program to read first n lines of a file.

In [ ]:
#Code here

3. Write a Python program to read last n lines of a file.

In [ ]:
#Code here


4. Write a Python program to read a file line by line and store it into a list.

In [ ]:
#Code here


5. Write a Python program to read a file line by line store it into a variable.

In [ ]:
#Code here

6. Write a Python program to read a file line by line store it into an array.

In [ ]:
#Code here


7. Write a python program to find the longest words.

In [ ]:
#Code here


8. Write a Python program to count the number of lines in a text file.

In [ ]:
#Code here

9. Write a Python program to count the frequency of words in a file.

In [ ]:
#Code here

## **5. Read Text Files with the python module Pandas**


First, you’ll need the Pandas library. You may already have it installed. If you don’t, then you can install it with pip:

***!pip install pandas***

Once the installation process completes, you should have Pandas installed and ready.

In [ ]:
!pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

Pandas functions for reading the contents of files are named using the pattern
**.read_\<file-type>()**, where \<file-type> indicates the type of the file to read. This are the list of a few of them:



* read_csv()  
* read_excel() 
* read_json()
* read_html()
* read_sql()
* read_pickle()

These functions have a parameter that specifies the target file path.
Before using the pandas functions, we need first to import pandas library.

In [ ]:
import pandas

In [2]:
# read a csv file data.csv
import pandas
df1 = pandas.read_csv('weather.csv')
df1

,id,year,month,element,d1,d2,d3,d4,d5,d6,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
0,MX17004,2010,1,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.8,NaN
1,MX17004,2010,1,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.5,NaN
2,MX17004,2010,2,tmax,NaN,27.3,24.1,NaN,NaN,NaN,...,NaN,29.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MX17004,2010,2,tmin,NaN,14.4,14.4,NaN,NaN,NaN,...,NaN,10.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MX17004,2010,3,tmax,NaN,NaN,NaN,NaN,32.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,MX17004,2010,3,tmin,NaN,NaN,NaN,NaN,14.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,MX17004,2010,4,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,36.3,NaN,NaN,NaN,NaN
7,MX17004,2010,4,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,16.7,NaN,NaN,NaN,NaN
8,MX17004,2010,5,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,33.2,NaN,NaN,NaN,NaN
9,MX17004,2010,5,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,18.2,NaN,NaN,NaN,NaN
10,MX17004,2010,6,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.1,NaN,NaN
11,MX17004,2010,6,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0,NaN,NaN
12,MX17004,2010,7,tmax,NaN,NaN,28.6,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,MX17004,2010,7,tmin,NaN,NaN,17.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,MX17004,2010,8,tmax,NaN,NaN,NaN,NaN,29.6,NaN,...,NaN,26.4,NaN,29.7,NaN,NaN,NaN,28.0,NaN,25.4
15,MX17004,2010,8,tmin,NaN,NaN,NaN,NaN,15.8,NaN,...,NaN,15.0,NaN,15.6,NaN,NaN,NaN,15.3,NaN,15.4
16,MX17004,2010,10,tmax,NaN,NaN,NaN,NaN,27.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,31.2,NaN,NaN,NaN
17,MX17004,2010,10,tmin,NaN,NaN,NaN,NaN,14.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN
18,MX17004,2010,11,tmax,NaN,31.3,NaN,27.2,26.3,NaN,...,NaN,NaN,NaN,NaN,28.1,27.7,NaN,NaN,NaN,NaN
19,MX17004,2010,11,tmin,NaN,16.3,NaN,12.0,7.9,NaN,...,NaN,NaN,NaN,NaN,12.1,14.2,NaN,NaN,NaN,NaN
20,MX17004,2010,12,tmax,29.9,NaN,NaN,NaN,NaN,27.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,MX17004,2010,12,tmin,13.8,NaN,NaN,NaN,NaN,10.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

The functions returns a new DataFrame that contains the values from the file.